@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, Noto Sans, "Apple Color Emoji", "Segoe UI Emoji";
  }
}

/* Floating label utility */
.fl-label {
  @apply absolute left-3 top-3 text-gray-500 transition-all pointer-events-none bg-white dark:bg-gray-800 px-1;
}
.fl-input:focus + .fl-label,
.fl-input:not(:placeholder-shown) + .fl-label {
  @apply -translate-y-4 text-xs text-purple-600;
}


